<html>
<head>
    <style>
        @font-face {
            font-family: 'GmaketSansMedium';

        }
    </style>
</head>

<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <form th:action="" method="post" class="p-10 flex flex-col gap-4">
        <div>
            <input type="text" name="username" placeholder="아이디" class="input input-bordered">
        </div>
        <div>
            <input type="password" name="password" placeholder="비밀번호" class="input input-bordered">
        </div>
        <div>
            <input type="submit" value="회원가입" class="btn btn-primary">
        </div>
    </form>
</body>
</html>




